## Label Encoding
* In this technique, each label is assigned a unique integer based on alphabetical ordering.
* We apply Label Encoding when:
    * The categorical feature is ordinal.
    * The number of categories is quite large as one-hot encoding can lead to high memory consumption

In [1]:
D={"sex":("F","F","M","M","F","M","F"),
  'age':(12,10,9,13,15,11,10)}
df=pd.DataFrame(D)
df

  sex  age
0   F   12
1   F   10
2   M    9
3   M   13
4   F   15
5   M   11
6   F   10
7   x   23

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
le=LabelEncoder()
df['sex']=le.fit_transform(df['sex'])
df

   sex  age
0    0   12
1    0   10
2    1    9
3    1   13
4    0   15
5    1   11
6    0   10
7    2   23

## One hot encoding
* One-Hot Encoding is the process of creating dummy variables.
* We apply One-Hot Encoding when:
    * The categorical feature is not ordinal.
    * The number of categorical features is less so one-hot encoding can be effectively applied

In [4]:
D={"sex":("F","F","M","M","F","M","F"),
  'age':(12,10,9,13,15,11,10)}
Df=pd.DataFrame(D)
Df

  sex  age
0   F   12
1   F   10
2   M    9
3   M   13
4   F   15
5   M   11
6   F   10

In [5]:
Df=pd.get_dummies(Df, columns=['sex'], drop_first=True)
Df

   age  sex_M
0   12      0
1   10      0
2    9      1
3   13      1
4   15      0
5   11      1
6   10      0